<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="emailForm">
        <input formControlName="email" type="email" name="email" id="email" placeholder="Email">
        <div *ngIf="email.invalid && email.touched" class="emailErrors">
            <div *ngIf="email?.errors?.['required']" class="noInput">Email required</div>
            <div *ngIf="email?.errors?.['email']" class="invalid">Email is invalid</div>
        </div>
    </div>
    <div class="passForm">
        <input formControlName="password" type="password" name="pass" id="pass" placeholder="Password">
        <div *ngIf="password.invalid && password.touched" class="passErrors">
            <div *ngIf="password?.errors?.['required']" class="noInput">password required</div>
        </div>
    </div>
    <input [disabled]="loginForm.invalid" type="submit" value="Log In">
</form>
<div class="show" [ngClass]="{'show':show}">
    Login Failed
</div>